contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.0
kiwisolver==1.5.1
matplotlib==3.11.2
numpy==2.5.3
packaging==26.3
pillow==12.3.0
pyparsing==3.3.3
pysimplegui==6.3.0.1
python-dateutil==2.9.0.post0
PyVISA==1.16.2
PyVISA-py==0.8.1
six==1.17.0
typed_configparser==1.1.0
typing_extensions==4.16.0
